$primary-border-pixel: 2px solid;
$primary-text-color: blue;
$primary-font: Arial, Helvetica, sans-serif;

.section-one {
    border: $primary-border-pixel black;

    &__div {
        &--dashed {
            border: 3px dashed green;
        }

        &--solid {
            border: $primary-border-pixel coral;
        }
    }

    &__para {
        &--blue {
            color: $primary-text-color;
            text-decoration: line-through;
        }

        &--right {
            text-align: right;
        }
    }

    &__header {
        &--center {
            text-align: center;
        }
    }
}

.section-two {
    margin-top: 150px;

    &__para--coral {
        color: coral;
        font-weight: bold;
    }

    &__para--brown {
        color: brown;
    }
}

.box {
    border: 3px solid black;

    &__head--blue {
        color: $primary-text-color;
        font-family: $primary-font;
    }

    &__para--red {
        color: red;
        font-family: $primary-font;
        text-decoration: underline;
    }
    &__list--no-bullets {
        list-style: none;
    }
}
