#mainHeading {
    text-align: center;
    border: 4px dashed palegreen;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 500;
    color: darkblue;
}

.sub-heading {
    text-align: center;
    text-decoration: overline;
}

.movie-box {
    color: darkgreen;
    text-align: center;
    font-size: larger;
    list-style-position: inside;
    font-weight: 600;
}
#movieHeading {
    color: blueviolet;
}
