@use "./../partials/palette";
@use "./../partials/typography";

.section-two {
    margin-top: typography.$primary-margin;

    &__para--coral {
        color: palette.$secondary-text-color;
        font-weight: typography.$primary-font-weight;
    }

    &__para--brown {
        color: palette.$third-text-color;
    }
}

.box {
    border: typography.$secondary-border-pixel typography.$primary-border-style
        palette.$primary-border-color;

    &__head--blue {
        color: palette.$primary-text-color;
        font-family: typography.$primary-font;
    }

    &__para--red {
        color: palette.$fourth-text-color;
        font-family: typography.$primary-font;
        text-decoration: typography.$secondary-text-decoration;
    }
    &__list--no-bullets {
        list-style: typography.$primary-list-style;
    }
}
