.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "heading-one heading-one heading-one heading-two" "gogh monet monet alchemist" "beethoven manet mozart alchemist";
    gap: 5px;
}

.grid {
    border: 2px solid black;
    padding: 15px;
}

h1 {
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
h3 {
}

#heading-one {
    grid-area: heading-one;
}
#heading-two {
    grid-area: heading-two;
}
#monet {
    grid-area: monet;
    display: flex;
    flex-direction: column;
}

#manet {
    grid-area: manet;
}
#beethoven {
    grid-area: beethoven;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#mozart {
    grid-area: mozart;
}
#gogh {
    display: flex;
    justify-content: space-around;
    grid-area: gogh;
    align-items: center;
}
#alchemist {
    grid-area: alchemist;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goghImage {
    height: 200px;
    width: 200px;
}

#monetImage {
    display: flex;
    justify-content: space-between;
}

.monet-image {
    height: 150px;
    width: 150px;
}

#bookImage {
    width: 400px;
    height: 700px;
}
#beethovenImage {
    width: 200px;
    height: 200px;
}
