$primary-border-pixel: 2px;
$secondary-border-pixel: 3px;

$primary-border-style: solid;
$secondary-border-style: dashed;

$primary-font: Arial, Helvetica, sans-serif;

$primary-text-decoration: line-through;
$secondary-text-decoration: underline;
$primary-text-align: right;
$secondary-text-align: center;

$primary-margin: 150px;
$primary-font-weight: bold;

$primary-list-style: none;
