div {
    background-color: lightgreen;
    border: 2px solid orange;
}

p {
    margin-top: 0px;
    padding-left: 90px;
}

h1 {
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 10px;
}
div > div {
    margin: 30px 0;
    background-color: hotpink;
}
