#goghImage {
    height: 200px;
    width: 200px;
}

.monet-image {
    height: 150px;
    width: 150px;
}

#bookImage {
    width: 400px;
    height: 700px;
    padding: 0px;
}
#beethovenImage {
    width: 250px;
    height: 250px;
}

#mozartImage {
    width: 180px;
    height: 180px;
}
